/* ~~~~~~~~Common Features~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body{
  background-color: #f3f3f3;
}

.center{
  text-align: center;
}

.me{
  width: 200px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 45px;
  margin-bottom: 10px;
}

.name{
  font-family: 'Montserrat';
}

.nav{
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: #2c7d29;
  padding: 5px;
}

.nav-link{
  font-size: 1.10rem;
}

.windup{
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer{
  margin-top: 5%;
}

.socials{
  width: 3em;
  padding: 8px;
}

.copyright{
  font-size: x-small;
  margin-bottom: 0rem;
  padding-bottom: 1rem;

}

/* ~~~~~~~~Home Page Specific~~~~~~~~ */

.bounded{
  max-width: 45vw;
  margin-left: 27.5vw;
}

.skillTitle{
  color: #285942;
}

.skill-section{
  margin-top: 30px;
  margin-bottom: 30px;
}

.skill{
  background-color: white;
  border-color: #285942;
  border-style: solid;
  border-width: thin;
  margin: 3px;
  padding: 5px;
  border-radius: .25rem;
  display: inline-block;
  font-size: 95%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.skill:hover{
  background-color: #e5fda9;
  color: #2b5821;
}

/* ~~~~~~~~About Page Specific~~~~~~~~ */

.bounded2{
  max-width: 55vw;
  margin-left: 20vw;
}

.visitor{
  font-size: 1.3em;
}

.about{
  text-align: justify;
}

.aboutlinks{
  text-decoration: none;
  color: #2c7d29;
}

.aboutPhoto{
  margin-bottom: 15px;
}

/* ~~~~~~~~Project Page Specific~~~~~~~~ */
.bar{
  background-image: linear-gradient(to right, #34a680, #63b6a4, #a3e780, #c7ef6b, #ebf95b);
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.footerbar{
  background-image: linear-gradient(to left, #34a680, #63b6a4, #a3e780, #c7ef6b, #ebf95b);
  position: absolute;
  width: 100%;
}

.card{
  width: 20rem;
  margin: 15px 0px;
  border: darkgrey 1px solid;
}

.cardpic{
  width: 19.9rem;
  height: 6.5rem;
  object-fit: cover;
  object-position: top;
  border: darkgrey 1px solid;
}

.card-body{
  height: 30rem;
}

.card-text{
  text-align: left;
  margin-right: 10px;
}

.btn{
  background-color: #68be3c;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 35%;
}

.btn:hover{
  background-color: #b2dd9d;
}